
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<link type="text/css" rel="stylesheet" href="../../Content/Site.css" />*@
    <title>Handbook of cutting tools</title>
</head>
<body>
    <div class="mainBody">
        
       
           

        @*@foreach (var b in ViewBag.user)
            {
        // if (b.test == 1)
         {
                <p>@b.Email</p>
                <p>@b.Password</p>
                <p>@b.test</p>
            }

        }*@
           



        <p>
            Some general information.<br />

        </p>
       
    </div>
</body>
</html>
