
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
   // Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>DrillForm</title>
    <link href="C:\Users\MrTorry\documents\visual studio 2015\Projects\Psp\Psp\Content\Site.css"  rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="mainBody">
            <table>
           
            <tr>
                <th>Name</th>

                <th>Standart</th>
                
            </tr>

            @foreach (var b in ViewBag.Drills)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Standart</p></td>

                    <td><p><a class="button15" href="/Drill/WatchDrill/@b.Id">Watch more</a></p></td>
                    @if (User.IsInRole("admin"))
                    {
                        <td><p><a class="button15" href="/Drill/EditDrill/@b.Id">Edit</a></p></td>

                        <td><p><a class="button15" href="/Drill/DeleteDrill/@b.Id">Delete</a></p></td>
                    }
                </tr>
            }
           

        </table>
        @if (User.IsInRole("admin"))
            {
            <td><p><a class="button15" href="/Drill/AddDrill">Add</a></p></td>
        }
    </div>

  
</body>
</html>
